.header__logo{
    display: inline-block;
    width: 200px}
    
    .header{
        background-color: #C39BD3;
        padding-bottom: 1rem;
        padding-top: 1rem;
        padding: 0.2rem 1rem;
      
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

.header_item{
    display: inline-block;
    margin: 1rem;
    
}
ul li{
    list-style: none;
}

a{
    text-decoration:none;
}

.footer-heading {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

footer{ background-color: #C39BD3;

}

main{ background-color: black;
    
}

.menu {
    margin-bottom: 30px;
}
