footer{ background-color: #C39BD3;

.footer-heading {
    font-size: 30px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
                }
    .menu {
    margin-bottom: 30px;
}     
ul li{
    list-style: none;
}
       
}
